FileJanitor/obj/Debug/net8.0-windows/FileJanitor.csproj.CoreCompileInputs.cache
FileJanitor/obj/project.nuget.cache
FileJanitor/obj/project.assets.json
FileJanitor/obj/FileJanitor.csproj.nuget.g.targets
FileJanitor/obj/FileJanitor.csproj.nuget.g.props
FileJanitor/obj/FileJanitor.csproj.nuget.dgspec.json
FileJanitor/obj/Debug/net8.0-windows/refint/FileJanitor.dll
FileJanitor/obj/Debug/net8.0-windows/ref/FileJanitor.dll
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.pdb
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.GlobalUsings.g.cs
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.genruntimeconfig.cache
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.GeneratedMSBuildEditorConfig.editorconfig
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.dll
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.csproj.FileListAbsolute.txt
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.assets.cache
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.AssemblyInfoInputs.cache
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.AssemblyInfo.cs
FileJanitor/obj/Debug/net8.0-windows/apphost.exe
FileJanitor/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FileJanitor/bin/Debug/net8.0-windows/FileJanitor.runtimeconfig.json
FileJanitor/bin/Debug/net8.0-windows/FileJanitor.pdb
FileJanitor/bin/Debug/net8.0-windows/FileJanitor.exe
FileJanitor/bin/Debug/net8.0-windows/FileJanitor.dll
FileJanitor/bin/Debug/net8.0-windows/FileJanitor.deps.json
FileJanitor/obj/Debug/net8.0-windows/FileJanitor.sourcelink.json
